*
!.gitignore
!Colleen
!Grace

Colleen/*
!Colleen/C
!Colleen/ASM

Colleen/*/*
!Colleen/*/Makefile
!Colleen/*/srcs

Colleen/*/srcs/*
!Colleen/C/srcs/Calleen.c
!Colleen/ASM/srcs/Calleen.s

Grace/*
!Grace/C
!Grace/ASM

Grace/*/*
!Grace/*/Makefile
!Grace/*/srcs

Grace/*/srcs/*
!Grace/C/srcs/Grace.c
!Grace/ASM/srcs/Grace.s
