*
!.gitignore
!Colleen
!Grace
!Sully

Colleen/*
!Colleen/C
!Colleen/ASM
!Colleen/Zig

Colleen/*/*
!Colleen/*/Makefile
!Colleen/*/srcs

Colleen/*/srcs/*
!Colleen/C/srcs/Calleen.c
!Colleen/ASM/srcs/Calleen.s
!Colleen/Zig/srcs/Calleen.zig

Grace/*
!Grace/C
!Grace/ASM

Grace/*/*
!Grace/*/Makefile
!Grace/*/srcs

Grace/*/srcs/*
!Grace/C/srcs/Grace.c
!Grace/ASM/srcs/Grace.s

Sully/*
!Sully/C
!Sully/ASM
!Sully/Zig

Sully/*/*
!Sully/*/Makefile
!Sully/*/srcs

Sully/*/srcs/*
!Sully/C/srcs/Sully.c
!Sully/ASM/srcs/Sully.s
!Sully/Zig/srcs/Sully.zig
